<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import SlpContainer from '~/components/container.vue';
import CallToAction from '~/components/cta.vue';
import EnterpriseHighlights from '~/components/enterprise/customer-highlights.vue';
import EnterpriseFeatureList from '~/components/enterprise/feature-list.vue';
import BlogCards from '~/components/blog-cards.vue';
import VideoCarousel from '~/components/solutions/carousel-videos.vue';
import SlpHorizontalRule from '~/components/horizontal-rule.vue';
import CopyResources from '~/components/copy-resources.vue';
import FreeTrialCTA from '~/components/free-trial-cta.vue';
import { getPageMetadata } from '~/common/meta';
import Events from '~/components/events.vue';

export default Vue.extend({
  components: {
    CallToAction,
    SlpContainer,
    EnterpriseFeatureList,
    EnterpriseHighlights,
    Events,
    BlogCards,
    VideoCarousel,
    CopyResources,
    FreeTrialCTA,
    SlpHorizontalRule,
  },

  async asyncData({ $content }: any) {
    const allRemote = await $content('company/culture/all-remote').fetch();
    return { allRemote };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).allRemote);
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <CallToAction :data="allRemote.call_to_action" />
    </SlpContainer>
    <SlpContainer class="displaced-grey-background slp-mb-96">
      <EnterpriseFeatureList :data="allRemote.feature_list" />
      <EnterpriseHighlights :data="allRemote.highlights_1" />
      <EnterpriseHighlights :data="allRemote.highlights_2" />
    </SlpContainer>
    <SlpContainer>
      <Events :data="allRemote.events" />
      <BlogCards :data="allRemote.blog_cards" />
      <VideoCarousel :data="allRemote.video_carousel" />
      <SlpHorizontalRule class="slp-mb-128 slp-mt-128" />
      <CopyResources :data="allRemote.resources" />
      <FreeTrialCTA
        variant="image"
        title="What’s stopping you from transforming your software development process?"
        subtitle="We’re here to help. Talk to an expert today."
        type="pricing"
      />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.displaced-grey-background {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 300px);
    margin-top: 96px;
    width: 100vw;
    background: #f8f8f8;
  }
}
</style>
