<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import SlpContainer from '~/components/container.vue';
import CallToAction from '~/components/stages-devops-lifecycle/cta.vue';
import SideMenu from '~/components/side-menu/side-menu.vue';
import Copy from '~/components/copy.vue';
import CopyMedia from '~/components/stages-devops-lifecycle/copy-media.vue';
import { getPageMetadata } from '~/common/meta';
import SlpColumn from '~/components/column.vue';
import TopicsCards from '~/components/stages-devops-lifecycle/topics-cards.vue';
import FreeTrialCTA from '~/components/free-trial-cta.vue';

export default Vue.extend({
  name: 'StagesDevopsLifecycle',
  components: {
    SlpColumn,
    SideMenu,
    SlpContainer,
    CallToAction,
    Copy,
    CopyMedia,
    TopicsCards,
    FreeTrialCTA,
  },
  async asyncData({ $content }) {
    const doc = await $content('stages-devops-lifecycle/index').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc);
  },
});
</script>
<template>
  <SlpContainer>
    <SideMenu v-if="doc.side_menu" :links="doc.side_menu.links" />
    <anchor-dropdown
      fixed
      :options="doc.side_menu.links"
      :placeholder="doc.side_menu.placeholder"
    />
    <SlpColumn :cols="10" size="xl">
      <component
        :is="component.name"
        v-for="component in doc.components"
        :key="component.name"
        :data="component.data"
      ></component>
    </SlpColumn>
    <FreeTrialCTA
      variant="image"
      primary-button-type="watch_demo"
      secondary-button-type="ask_us"
      title="What’s stopping you from transforming your software development process? "
      subtitle="We’re here to help. Talk to an expert today."
    />
  </SlpContainer>
</template>
<style scoped lang="scss"></style>
