<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>

<template>
  <div class="features-cta">
    <SlpContainer class="slp-py-160">
      <SlpRow>
        <SlpColumn :cols="8" size="md">
          <SlpTypography style="font-weight: 700" variant="heading2" tag="h1"
            >Take the next step</SlpTypography
          >
          <SlpTypography
            style="width: 300px"
            class="slp-mt-16"
            variant="heading5"
            tag="p"
            >Start transforming your software development process</SlpTypography
          >
          <SlpButton class="slp-mt-32" href="/free-trial"
            >Try free trial</SlpButton
          >
        </SlpColumn>
        <SlpColumn class="features-cta__right" :cols="4" size="md">
          <img srcset="/nuxt-images/features/purple-guy.png" />
          <SlpTypography class="slp-pt-16" variant="heading5" tag="p"
            >We're here to help. Talk to an expert today.</SlpTypography
          >
          <SlpButton
            class="slp-mt-16"
            variant="secondary"
            href="https://gitlab.com/-/trials/new?glm_content=default-saas-trial&glm_source=about.gitlab.com"
            >Talk to an expert</SlpButton
          >
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.features-cta {
  background: linear-gradient(
      3deg,
      rgba(232, 224, 244, 0.8),
      rgba(0, 0, 255, 0) 20%
    ),
    linear-gradient(-10deg, rgba(251, 230, 235, 0.8), rgba(0, 0, 255, 0) 25%);

  &__right {
    @media (max-width: $breakpoint-md) {
      padding-top: 3rem;
    }

    @media (min-width: $breakpoint-md) {
      border-left: 2px solid #74717a;
      padding-left: 5rem;
    }
  }
}
</style>
