<script lang="ts">
import Vue from 'vue';
import SlpColumn from '~/components/column.vue';
import SlpRow from '~/components/row.vue';
import SlpContainer from '~/components/container.vue';

export default Vue.extend({
  name: 'BySolutionBenefits',
  components: { SlpColumn, SlpRow, SlpContainer },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="solution-value-prop">
    <SlpContainer>
      <SlpRow class="resources-block-container">
        <div
          class="resources-block__header"
          :data-aos="data.header_animation"
          :data-aos-duration="data.header_animation_duration"
        >
          <SlpColumn :cols="7">
            <SlpTypography
              tag="h2"
              variant="heading3"
              class="slp-mt-32 slp-mb-64"
              >{{ data.title }}
            </SlpTypography>
          </SlpColumn>
        </div>
        <SlpColumn
          v-for="(card, index) in data.cards"
          :key="index"
          :cols="6"
          class="slp-mb-48"
          :data-aos="data.cards_animation"
          :data-aos-duration="data.cards_animation_duration"
        >
          <div class="resources-block">
            <div class="resources-block__wrapper">
              <div class="resources-block__content-top">
                <div class="resources-block__category slp-flex">
                  <img :src="card.icon" />
                  <SlpTypography tag="p" variant="all-caps"
                    >{{ card.category }}
                  </SlpTypography>
                </div>
                <SlpTypography
                  tag="h3"
                  variant="body2-bold"
                  class="resources-block__title"
                  >{{ card.title }}
                </SlpTypography>
                <SlpTypography
                  tag="p"
                  variant="body1"
                  class="resources-block__description"
                  ><span v-html="card.description"></span>
                </SlpTypography>
                <ul v-if="card.list" class="resources-block__list">
                  <li
                    v-for="feature in card.list"
                    :key="feature.text"
                    class="item"
                  >
                    <img
                      src="/nuxt-images/icons/slp-check-lg.svg"
                      alt=""
                      class="bullet"
                    />
                    <span class="slp-text-body1" v-html="feature.text"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.solution-value-prop {
  background-color: $color-surface-800;
  padding-top: 160px;
  padding-bottom: $spacing-96;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-48 0;
  }

  h2 {
    font-size: $text-heading-2;
    line-height: $line-height-heading-2;
    font-weight: $font-weight-bold;
  }

  .resources-block {
    //cursor: pointer;
    display: flex;
    position: relative;
    height: 100%;

    @media (min-width: $breakpoint-md) {
      margin: $spacing-16 $spacing-16 $spacing-16 0;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
      justify-content: space-between;
      padding: $spacing-32;
      background: $color-primary-300;
      flex: 1;

      // This creates the rounded corner hover effect if card is clickable
      //&:hover {
      //  background: $color-surface-900;
      //  border-bottom-right-radius: 100px;
      //  box-shadow: 10px 10px 40px 10px #d1d0d3;
      //}
    }

    &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__category {
      margin-bottom: $spacing-24;

      img {
        max-width: 30px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      }
      p {
        margin-left: $spacing-16;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
      }
    }

    &__image {
      max-width: 100%;
    }

    &__link {
      color: $color-text-300;
      padding-left: 0;
    }

    &__title {
      margin-bottom: $spacing-16;
      font-size: $text-heading-4;
      font-weight: $font-weight-bold;
    }

    &__description {
      margin-bottom: $spacing-16;

      // Why doesn't this work!!??
      a:hover {
        text-decoration: underline;
      }
    }

    &__list {
      margin-bottom: $spacing-16;
      .item {
        margin-bottom: $spacing-16;
      }
      .bullet {
        margin-right: $spacing-8;
      }
    }

    &__content-top {
      p,
      h3,
      li {
        color: $color-text-300;
      }
    }
  }
}
</style>
