<script lang="ts">
import Vue from 'vue';
import SlpColumn from '~/components/column.vue';
import SlpRow from '~/components/row.vue';

export default Vue.extend({
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section>
    <slp-row class="header-container">
      <slp-column :cols="5">
        <SlpTypography tag="h1" variant="heading1" class="header">{{
          data.header
        }}</SlpTypography>
      </slp-column>
      <slp-column
        :cols="7"
        class="description slp-text-base"
        v-html="$md.render(data.description)"
      />
    </slp-row>
  </section>
</template>

<style lang="scss" scoped>
.header {
  font-size: 36px;
  line-height: 44px;
}
.header-container {
  padding: 50px 15px;
}
.description {
  font-size: 14px;
}
</style>
