<script lang="ts">
import Vue from 'vue';
import SlpNavigationHOC from '~/components/navigation/navigation-hoc.vue';

export default Vue.extend({
  components: {
    SlpNavigationHOC,
  },
  head() {
    let path;
    if (this.$route.path === '/') {
      path = 'https://about.gitlab.com/';
    } else if (this.$route.path.endsWith('/')) {
      path = `https://about.gitlab.com${this.$route.path}`;
    } else {
      path = `https://about.gitlab.com${this.$route.path}/`;
    }
    return {
      link: [
        {
          rel: 'canonical',
          href: path,
        },
      ],
    };
  },
  beforeMount() {
    document.addEventListener('webIDE', () => {
      const fileName =
        this.$route.path.replace(/(^\/)|(\/$)/g, '') || this.$route.name;
      window.location.href = `https://gitlab.com/-/ide/project/gitlab-com/marketing/digital-experience/buyer-experience/edit/main/-/content/${fileName}.yml`;
    });
    document.addEventListener('viewPageSource', () => {
      const pageSource =
        this.$route.path.replace(/(^\/)|(\/$)/g, '') || this.$route.name;
      window.location.href = `https://gitlab.com/gitlab-com/marketing/digital-experience/buyer-experience/-/blob/main/content/${pageSource}.yml`;
    });
  },
});
</script>

<template>
  <div>
    <SlpNavigationHOC />
    <Nuxt />
    <SlpFooter />
  </div>
</template>
