<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import SlpContainer from '~/components/container.vue';
import CallToAction from '~/components/cta.vue';
import SideMenu from '~/components/side-menu/side-menu.vue';
import Copy from '~/components/copy.vue';
import CopyMedia from '~/components/copy-media.vue';
import { getPageMetadata } from '~/common/meta';
import SlpColumn from '~/components/column.vue';
import AnchorDropdown from '~/components/anchor-dropdown.vue';

export default Vue.extend({
  name: 'GetHelp',
  components: {
    SlpColumn,
    SideMenu,
    SlpContainer,
    CallToAction,
    Copy,
    CopyMedia,
    AnchorDropdown,
  },
  async asyncData({ $content }) {
    const doc = await $content('get-help').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc);
  },
});
</script>

<template>
  <SlpContainer>
    <SideMenu v-if="doc.side_menu" :links="doc.side_menu.links" />
    <anchor-dropdown
      :options="doc.side_menu.links"
      fixed
      label="On this page: "
    />
    <SlpColumn :cols="10" size="xl">
      <component
        :is="component.name"
        v-for="component in doc.components"
        :key="component.name"
        :data="component.data"
      />
    </SlpColumn>
  </SlpContainer>
</template>

<style scoped lang="scss"></style>
